.parent{
    -fx-background-color: transparent;
}

.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #E6E7E4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #E6E7E4;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;


}

.btn {
    -fx-background-color: #7C90AD;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;

}
.main{
    -fx-background-image:url('Untitled-1.png');
}
